ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

.selection {
    background-color: gray;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }
}

.excluir {
    display: inline;
    background-color: red;
}