<h1>view de usuario</h1>
<p>aqui é para mostrar o usuario, mas vou listar pq quero testar endpoints</p>

<!-- <div class="selection" *ngFor="let user of listUser" (click)="editUser(user.id)">
    {{ user.id }} - {{ user.name }} - {{ user.email }} - {{ user.birthDate }}
    <div class="excluir" (click)="deleteUser(user.id)">excluir</div>
</div> -->

<ul>
    <li *ngFor="let user of listUser">
        <div class="selection" (click)="editUser(user.id)">
            {{ user.id }} - {{ user.name }} - {{ user.email }} - {{ user.birthDate | date: 'dd/MM/yyyy'}}
            <span class="excluir" (click)="deleteUser(user.id)">excluir</span>
        </div>
    </li>
</ul>

<p>nao funciona ainda</p>
<nav aria-label="Navegação de página exemplo">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
    </ul>
</nav>